errors.txt
log.txt
progressive_download.txt
traceback.txt
.vscode
/game/saves
game/cache
/game/temp
/game/logs
/game/screenshots
/game/mods
/game/plugins
.DS_Store
traceback.txt
*.txt
*.log
.venv
__pycache__/

# Environment variables (contains secrets)
.env
.env.local
*.env.local
node_modules/
ThePathofFunction_dist_Web
.next/
game_backup/